

.maind
{
    display: flex;
    align-items: center;
    flex-direction: row;
    margin: 0;
    padding: 0;
    background-color: #00FFFF;

}

.left
{   
    border: 8px solid #6495ED ;
    border-radius: 10px;
    display: flex;
    align-items: left;
    flex-direction: column;
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 12%;
    background-color:#008B8B ;
}

.right
{
    border: 8px solid #6495ED ;
    border-radius: 10px;
    display: flex;
    align-items: left;
    flex-direction: column;
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 12%;
    background-color:#008B8B ;

}

.buttons
{
    margin: 5px;
    background-color: #1E90FF;
    color: #F8F8FF;
    font-family: 'Sofia Sans Condensed', sans-serif;
    
}

input
{
    border-radius: 10px;
    background-color: #ADD8E6;
}

h1,h3
{
    font-family: 'Fira Sans', sans-serif;
}

h2
{
    font-family: 'Sofia Sans Condensed', sans-serif;
}